
# Ignore large data files that are not needed
data/raw/
data/processed
# Ignore Python build artifacts and system files
__pycache__/
*.pyc
.ipynb_checkpoints
# Ignore Google Drive specific files
.DS_Store
